.container {
  padding-left: 50px;
  flex: 6;
  white-space: pre-line;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 2.3rem;
  color: white;
}

.form {
  display: flex;
  justify-content: center;
}