.expense-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5.5rem;
  height: 5.5rem;
  background-color: #fe7d6a;
  color: white;
  border: 5px solid white;
  border-radius: 12px;
}

.expense-date__month {
  font-size: 1rem;
  font-weight: bold;
}

.expense-date__year {
  font-size: 0.9rem;
}

.expense-date__day {
  margin-top: -1px;
  font-size: 1.3rem;
  font-weight: bold;
}
