.expense-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5.5rem;
  height: 5.5rem;
  background-color: #fc9ca7;
  color: white;
  border: 5px solid white;
  border-radius: 12px;
}

.expense-date__month {
  font-size: 0.85rem;
  font-weight: bold;
}

.expense-date__year {
  font-size: 0.75rem;
}

.expense-date__day {
  font-size: 1.5rem;
  font-weight: bold;
}
