.container-red {
  display: flex;
  flex-direction: column;
  margin: 50px;
  padding: 30px;
  border: 1px solid red;
  height: 500px
}

.container-purple {
  padding: 10px;
  border: 1px solid purple;
  margin: 10px;
  flex: 1;
}

.container-green {
  border: 1px solid green;
  padding: 20px;
}

.container-blue {
  padding: 10px;
  border: 1px solid blue;
  margin: 10px;
  flex: 2;
}

